:root {
  --white-bg-color: hsl(0, 0%, 100%);
  --pale-violet-bg: rgb(216, 158, 255);
  --moderate-violet-bg: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue-bg: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --light-grayish-violet-bg: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta-bg: hsl(289, 100%, 72%);
  --padding-8px: 8px;
  --padding-16px: 16px;
  --border-radius-8px: 8px;
  --border-radius-24px: 24px;
  --border-radius-32px: 32px;
  --border-radius-48px: 48px;

  /* --- Fonts --- */
  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-weight-400: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grayish-violet-bg);
  display: grid;
  place-content: center;
  margin: 40px auto;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.phone {
  background-color: var(--white-bg-color);
  padding: var(--padding-16px);
  border-radius: var(--border-radius-48px);
  width: 350px;
}

.phone__container {
  background-color: var(--light-grayish-violet-bg);
  border-radius: var(--border-radius-32px);
  width: 100%;
  height: 100%;
}

.phone__header {
  position: relative;
  background-color: var(--light-violet);
  background: var(--light-violet);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--light-violet), var(--light-magenta));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--light-violet), var(--light-magenta)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top-right-radius: var(--border-radius-32px);
  border-top-left-radius: var(--border-radius-32px);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.phone__bg {
  position: absolute;
  top: -8px;
  background-color: var(--white-bg-color);
  width: 50%;
  height: 32px;
  border-radius: var(--border-radius-32px);
}

.header__container {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.header__user {
  color: var(--white-bg-color);
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  height: 48px;
  padding: 2px 0;
}

.user__photo {
  background-color: var(--light-grayish-violet-bg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--dark-grayish-violet);
}

.user__texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user__name {
  font-weight: var(--font-weight-500);
  font-size: 14px;
}

.user__text {
  color: var(--white-bg-color);
  opacity: .5;
  font-size: 12px;
  font-weight: var(--font-weight-400);
}

.header__icon1  {
  position: relative;
  width: 24px;
  transform: rotateZ(-90deg);
}

.header__icon1::before {
  background-color: var(--white-bg-color);
  position: absolute;
  content: "";
  top: 0;
  left: 2px;
  display: inline-block;
  width: 12px;
  height: 3px;
  border-radius: 8px;
  transform: rotateZ(-45deg);
}

.header__icon1::after {
  background-color: var(--white-bg-color);
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  left: 10px;
  display: inline-block;
  width: 12px;
  height: 3px;
  border-radius: 8px;
  transform: rotateZ(45deg);
}

.header__icon2 {
  background-color: var(--light-grayish-violet);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header__icon2 .dot {
  background-color: var(--white-bg-color);
  width: 4px;
  height: 4px;
  border-radius: 4px;
}

/* ---------- phone__messages ------------ */

.phone__messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  padding: 12px;
}

.phone__message {
  max-width: 60%;
  padding: 12px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 8px;
  line-height: 150%;
}

.phone__message-left {
  color: var(--moderate-violet-bg);
  background-color: rgba(216, 158, 255, .15);
}

.phone__message-right {
  align-self: flex-end;
  background-color: var(--white-bg-color);
  color: var(--desaturated-dark-violet);
}

.message__images {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 12px;
}

.message__images img {
  width: 60px;
  border-radius: 10px;
}

.message__price {
  background: var(--light-magenta);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--light-magenta), var(--light-violet));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  var(--light-magenta), var(--light-violet)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 70%;
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 8px;
  color: var(--white-bg-color);
  display: flex;
  align-items: center;
  gap: 12px;
}

.price__circle {
  width: 24px;
  height: 24px;
  border: 1px solid var(--white-bg-color);
  border-radius: 24px;
  opacity: .3;
}

.message__price span:nth-child(2) {
  opacity: .5;
  flex: 1;
}

.message__price span:last-child {
  font-size: 18px;
  font-weight: 500;
}

/* ------- Input Form ----- */
.form__container {
  position: relative;
  height: 48px;
  width: 100%;
  border-radius: 32px;
}

.form__input {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  outline: none;
  border: 2px solid var(--light-grayish-violet);
  padding: 6px 24px;
  font-size: 14px;
}

.form__input::placeholder {
  color: var(--grayish-blue-bg);
  opacity: 1; /* Firefox */
}

.form__btn {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 40px;
  height: 40px;
  background-color: var(--very-dark-desaturated-violet);
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__btn::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 2px;
  background-color: var(--white-bg-color);
  top: 14px;
  right: 12px;
  transform: rotateZ(45deg);
}

.form__btn::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 2px;
  background-color: var(--white-bg-color);
  top: 22px;
  right: 12px;
  transform: rotateZ(-45deg);
}